<div class="wrapper">
    <div class="container" style="height: 80vh;">
        <div class="row context">
            <div class="col-md-1"></div>
            <div class="col-md-4 panel pt-5 text-center">
                <div class="text-center subpanel my-5" style="color: white;">
                    <img src="../../../assets/img/logo.png" class="my-3" height="100px" width="200px" />
                    <h4>Contact Us</h4>
                    <p>
                        Call us For any Query/Bulk Bookings
                        <br> +91-9588062419
                    </p>
                </div>
            </div>
            <div class="col-md-6 card ">
                <h3 class="text-center my-3">Your Booking ID Is :<br><br> {{uniqueId}}</h3>
                <h3 class="text-center my-3">Thanks For Booking In Orupools!!</h3>
                <iframe src="https://embed.lottiefiles.com/animation/72421"></iframe>
                <!--  <iframe src="https://embed.lottiefiles.com/animation/4964"></iframe> -->

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>