
.red
{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

.green{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
}

.active{
    background-color: #0068b9 !important;
    color: white;
    font-size: 13px;
}