
.red
{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

.green{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
}

.active{
    background-color: #0068b9 !important;
    color: white;
    font-size: 13px;
}
.btn-dark{
    font-size: 12px;
    width: 100%;
}

@media (max-width: 500px) {
    table{
        display: none;
    }
    
}
@media (max-width: 500px) {
    .mobile-view{
        display: block !important;
    }
    
}
.mobile-view{
    display: none;
}